/** General Stlye **/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 9.5px;
    font-size: 20px;
}

strong {
    text-transform: uppercase;
}


/** Navigation Bar **/

.navbar-default {
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 30px;
    padding-left: 30px;
	margin-bottom: 0px;
	z-index:1;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 55px;
}

.navbar-header button {
    background-color: #fff;
	margin-top: 15px;
}

.navbar-default .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-default .navbar-collapse {
    text-align: center;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #009345;
    outline: 0
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 5px;
    color: #fff;
    background-color: #009345;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #009345;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #009345;
}


/** Header **/

header {
	background-image: url(../img/Header.jpg);
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color: #fff;
}

@media (max-width: 767px) {
	header {
		margin-top: 60px;
	}  
}

.header-title {
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
	padding-top: 10px;
}

.header-img {
	padding-top: 130px;
}

.header-subtitle {
	font-style: italic;
	text-transform: capitalize;
	padding-bottom: 10px;
}

@media (min-width: 1440px) {
   .header-img {
		padding-top: 250px;
	} 
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-title {
		font-size: 25px;
	}
	.header-img {
		width: 500px;;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-img {
		width: 450px;
		padding-top: 100px;
	}
	.header-subtitle {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
    .header-title {
		font-size: 15px;
	}
	.header-img {
		width: 400px;
		padding-top: 70px;
	}
	.header-subtitle {
		font-size: 10px;
	}
}

/** Sticky Navbar **/

.above-nav{
  height: 100px;
  background-color: #fff;
}

.affix {
  top: 0px;
  width:100%;
}

.navbar-inverse {
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 30px;
    padding-left: 30px;
	margin-bottom: 0px;
	border: none;
	border-radius: 0;
	z-index:1;
}

.navbar-inverse .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-inverse .navbar-collapse {
    text-align: center;
}

.navbar-inverse .nav li a,
.navbar-inverse .nav li a {
    color: #222;
    outline: 0
}

.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
    color: #009345;
    outline: 0
}

.navbar-inverse .navbar-nav>.active>a {
    border-radius: 5px;
    color: #fff;
    background-color: #009345
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #009345
}


/** Gallery Section **/

#gallery-section {
	background-color: #000;
}

div .gallery {
	padding: 0;
}



/** Invest Section **/

#invest1 {
    background-color: black;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

#invest1-hr {
    width: 65%;
}

#invest2-title {
    margin-top: 0px;
    padding-top: 40px;
    padding-left: 40px;
}

#invest2-strong {
    letter-spacing: 9.5px;
}

ul {
    list-style-type: none;
}

#invest2-list {
    margin-bottom: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#invest2a, #invest2b, #invest2c {
    padding-right: 0;
    padding-left: 0;
}

#invest3 {
    background-color: #000;
}

#invest3-img {
    padding-left: 0;
    padding-right: 0;
}

#invest3-content {
    background-color: #000;
    color: #fff;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
}

#invest3-tagline {
    padding-bottom: 20px;
}

#invest3-content1 {
    text-transform: uppercase;
    letter-spacing: 9.5px;
    padding-bottom: 20px;
}

#invest3-content2 {
    text-transform: uppercase;
    letter-spacing: 9.5px;
}

/********** Extra Large devices only **********/

@media screen and (min-width: 1900px) {
    #invest2-title {
        font-size: 2em;
        padding-top: 90px;
        padding-left: 40px;
    }
    #invest2-list {
        font-size: 1.5em;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1600px)and (max-width: 1899px) {
    #invest2-title {
        font-size: 1.5em;
        padding-top: 90px;
        padding-left: 40px;
    }
    #invest2-list {
        font-size: 1.25em;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1440px)and (max-width: 1599px) {
    #invest2-title {
        padding-top: 80px;
        padding-left: 40px;
    }
    #invest2-list {
        padding-right: 40px;
    }
}


/********** Large devices only **********/

@media (min-width: 1200px)and (max-width: 1439px) {
    #invest2-title {
        padding-top: 60px;
        padding-left: 40px;
    }
    #invest2-list {
        padding-right: 40px;
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    #invest2-title {
        margin-top: 40px;
        padding-top: 0px;
        padding-left: 20px;
    }
    #invest2-list {
        margin-bottom: 5px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #invest3-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
	#invest3-content {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#invest2-img {
        padding-left: 0;
    }
    #invest2a .hovereffect .img-responsive {
        width: 100%;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
	#invest3-content {
		padding-top: 50px;
		padding-bottom: 50px;
	}
    #invest2a .hovereffect .img-responsive {
        width: 100%;
    }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 479px) {
    #invest2-strong{
     letter-spacing: 3px;   
    }
    #invest2-img {
        padding-left: 0;
    }
    #invest2a .hovereffect .img-responsive {
        width: 100%;
    }
}


/** Volt N Bolt Section **/

.volt-section {
		background-color: #F7F7F7;
	}

@media (min-width: 769px) {
	.volt-section {
		background-image: url(../img/VoltNBolt%20Background-desktop.png);
		background-repeat: none;
		background-attachment: scroll;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		background-color: #f7f7f7;
		width: 100%;
		height: 600px;
	}
}

@media (max-width: 768px) {
	.volt-section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

#vnb-logo {
	padding-top: 10px;
}

@media (max-width: 479px) {
	#vnb-img {
		padding-bottom: 20px;
	}
}


/** Floor Plan Section **/

.floorplan-section {
	padding-left: 0px;
	padding-right: 0px;
}

#floorplan {
	width: 100%;
}


/** Forum Section **/

#forum-section {
	background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
}

#leaf-logo {
	padding-left: 20px;
}

#forum-title {
	padding-top: 35px;
}

#forum-btn {
    text-transform: uppercase;
    background-color: #f7f7f7;
    color: #000;
    border: 1px solid #000;
	border-radius: 0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    display: inline-block;
}

#forum-bnt:link,
#forum-btn:visited {
    background-color: #f7f7f7;
    color: #000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#forum-btn:hover,
#forum-btn:active {
    background-color: #009345;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#forum-title {
		padding-top: 5px;
	}
	#forum-btn {
		font-size: 10px;
		letter-spacing: 5px;
	}
}

@media (max-width: 768px) {
	#leaf-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
	}
	#forum-title {
		text-align: center;
		padding-top: 5px;
	}
	#forum-section div p {
		text-align: center;
	}
	#forum-button {
		margin-bottom: 15px;
	}
	#forum-btn {
		display: block;
		margin: auto;
		width: 265px;
		font-size: 10px;
		letter-spacing: 5px;
	}
}

@media (max-width: 320px) {
	#forum-title {
		font-size: 15px;
	}
	#forum-btn {
		width: 200px;
		letter-spacing: 2px;
	}
}


/** Footer Section **/
.footer-section {
	background-color: #222;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer-links {
	padding-left: 0px;	
}

.footer-links li {
	display: inline;
	padding-right: 15px;
}

.footer-links li a {
	color: #fff;
}

.footer-links li a:hover {
	color: #009345;
	text-decoration: none;
}

.footer-title {
	padding: 0px;
}

.footer-title h3 {
	color: #fff;
	margin: 0px;
}

#footer-section-icons {
    text-align: center;
}

#facebook-icon {
    padding-left: 4px;
    padding-right: 4px;
}

#pinterest-icon {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

#twitter-icon {
    padding-left: .5px;
    padding-right: .5px;
}

#linkedin-icon {
    padding-left: .5px;
    padding-right: .5px;
}

#instagram-icon {
    padding-left: 1px;
    padding-right: 1px;
}

#google-icon {
    padding-left: 1px;
    padding-right: 1px;
}

#app-store {
    padding-left: 8px;
    padding-right: 8px;
}

#app-store-icon {
	width: 15px;
    margin-left: -1px;
    margin-right: -1px;
    padding-bottom: 3px;
    text-align: center;
}

#footer-section-icons,
#footer-section-icons {
    padding-left: 0px;
	padding-right: 0px;
	text-align: right;
}

#footer-section-icons a:link,
#footer-section-icons a:visited {
    background-color: #222;
    color: #fff;
	border: #fff solid 1px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#footer-section-icons a:hover,
#footer-section-icons a:active {
    background-color: #009345;
    color: #fff;
}

@media (max-width: 991px) {
	.footer-section {
		text-align: center;
	}
	#footer-section-icons {
		text-align: center;
		padding-top: 15px;
	}
}

@media (max-width: 479px) {
	.social-buttons li {
		padding-left: 0px;
		padding-right: 0px;
	}
	#youtube-icon, 
	#facebook-icon, 
	#pinterest-icon, 
	#twitter-icon, 
	#linkedin-icon, 
	#instagram-icon, 
	#google-icon {
		font-size: 11px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#app-store-icon {
		width: 11px;
	}
}

@media (max-width: 320px) {
	.social-buttons li {
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#facebook-icon {
		padding-left: 1px;
		padding-right: 1px;
	}
	#app-store {
		width: 32px;
	}
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    
}